@font-face {
  font-family: "Lato Regular";
  src: url(./fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: "Lato Light";
  src: url(./fonts/Lato-Light.ttf);
}
@font-face {
  font-family: "Roboto Regular";
  src: url(./fonts/Roboto-Regular.ttf);
}
html,
body {
  position: relative;
  height: 100%;
}

.swiper-container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
}

.swiper-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-container .swiper-slide img {
  display: block;
  max-width: 597px;
  max-height: 724px;
  object-fit: cover;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.filter-sort {
  height: 132px;
  position: relative;
  display: flex;
  gap: 30px;
  padding-top: 39px;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .filter-sort {
    justify-content: center;
  }
}
@media screen and (max-width: 426px) {
  .filter-sort {
    height: 106px;
    padding-top: 24px;
    padding-bottom: 32px;
    gap: 0;
  }
}
.menu {
  width: 360px;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
}
.menu[open] {
  background-color: #ffffff;
}
.menu__summary {
  display: flex;
  align-items: center;
  gap: 11px;
}
.menu__heading {
  color: #222222;
  font-family: "Lato Regular";
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}
.menu__content {
  background-color: #ffffff;
  padding-top: 0;
  padding-right: 16px;
  padding-bottom: 16px;
}
.menu__item {
  margin-top: 24px;
}
.menu__head {
  color: #f16d7f;
  font-family: "Lato Regular";
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}
.menu__link_box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 12px 25px;
}
.menu__link {
  color: #6f6e6e;
  font-family: "Lato Regular";
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}
.menu__link:hover {
  color: #f16d7f;
}

.filter {
  padding-top: 13px;
  width: 360px;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
}
.filter__content {
  background-color: #ffffff;
  padding-top: 0;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}
.filter[open] {
  background-color: #ffffff;
  box-shadow: 6px 4px 35px 0 rgba(0, 0, 0, 0.21);
}
.filter[open] .filter__heading {
  color: #f16d7f;
}
.filter[open] path {
  fill: #f16d7f;
}
.filter__summary {
  display: flex;
  align-items: center;
  gap: 11px;
  padding-left: 16px;
}
@media screen and (max-width: 426px) {
  .filter .filter__summary {
    padding-left: 8px;
    width: 100px;
  }
}
.filter__heading {
  color: #222222;
  font-family: "Lato Regular";
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}
@media screen and (max-width: 426px) {
  .filter .filter__heading {
    display: none;
  }
}
.filter__item {
  margin-top: 16px;
}
.filter__head {
  font-family: "Lato Regular";
  font-weight: 400;
  font-size: 14px;
  color: #636363;
  line-height: 17px;
  padding: 8px 11px 11px 11px;
  border-bottom: 1px solid #ebebeb;
  border-left: 5px solid #f16d7f;
}
.filter__item[open] .filter__head {
  color: #f16d7f;
}
.filter__link_box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 24px 16px;
}
.filter__link {
  color: #636363;
  font-family: "Lato Regular";
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}
.filter__link:hover {
  color: #f16d7f;
}

@media screen and (max-width: 426px) {
  .filter {
    padding-top: 0;
    position: absolute;
    left: 10px;
  }
}
@media screen and (max-width: 426px) {
  .filter__svg {
    width: 37.5px;
    height: 25px;
  }
}
.sort {
  padding-top: 12px;
  display: flex;
  gap: 18px;
}
.sort__details {
  position: relative;
}
.sort__summary {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sort__check {
  display: flex;
  gap: 9px;
  align-items: center;
}
.sort__check {
  font-family: "Roboto Regular";
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
}
.sort__heading {
  color: #6f6e6e;
  font-family: "Lato Regular";
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}
@media screen and (max-width: 426px) {
  .sort .sort__heading {
    font-size: 12px;
  }
}
.sort__box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-shadow: 6px 4px 35px 0px #222222;
  background-color: #ffffff;
  padding: 7px 30px 11px 9px;
  position: absolute;
  left: -9px;
  top: 22px;
  z-index: 2;
}

@media screen and (max-width: 426px) {
  .sort {
    padding-top: 2px;
    padding-left: 60px;
  }
}
.header {
  background-color: #222222;
  padding-top: 18px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 859px;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .header {
    gap: 624px;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .header {
    gap: 424px;
    justify-content: center;
  }
}
@media screen and (max-width: 426px) {
  .header {
    gap: 200px;
    justify-content: center;
  }
}
@media screen and (max-width: 426px) {
  .logo_person,
  .logo_cart {
    display: none;
  }
}
.header__left {
  display: flex;
  align-items: center;
  gap: 41px;
}

.logo_loupe {
  padding-top: 5px;
}

.logo_loupe:hover svg path {
  transition: 0.5s;
  fill: #f16d7f;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 33px;
}

.burger_menu {
  padding-top: 12px;
  padding-left: 2px;
}

.burger_menu:hover svg path {
  transition: 0.5s;
  fill: #f16d7f;
}

.logo_person {
  padding-top: 6px;
}

.logo_person:hover svg path {
  transition: 0.5s;
  fill: #f16d7f;
}

.logo_cart {
  padding-top: 9px;
}

.logo_cart:hover svg path {
  transition: 0.5s;
  fill: #f16d7f;
}

#burger {
  position: absolute;
  left: -999999px;
  visibility: hidden;
}
#burger:checked ~ .nav {
  right: -232px;
}

.list__items {
  list-style-type: none;
}

.box_content {
  overflow: hidden;
}

.nav {
  background-color: #ffffff;
  box-shadow: 6px 4px 35px 0 rgba(0, 0, 0, 0.21);
  width: 232px;
  padding: 32px;
  box-sizing: border-box;
  position: absolute;
  top: 82px;
  right: 0;
  transition: right 0.3s;
  z-index: 20;
}

.main_content_1 {
  background-color: rgb(241, 228, 230);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main_content_1 .picture_1 {
  max-width: 100%;
  max-height: 100%;
}
@media screen and (max-width: 426px) {
  .main_content_1 .picture_1 {
    display: none;
  }
}
.main_content_1 .main_content_1_picture {
  max-width: 100%;
}
.main_content_1 .title_1 {
  display: flex;
  flex-direction: row;
  margin-left: 63px;
}
.main_content_1 .title_1 .title_text_1 {
  margin-left: 17px;
}
.main_content_1 .title_1 .title_text_1 .h1_1 {
  font-family: "Lato Regular";
  font-weight: 900;
  font-size: 49px;
  color: #222222;
  font-style: normal;
  line-height: normal;
}
@media screen and (max-width: 1024px) {
  .main_content_1 .title_1 .title_text_1 .h1_1 {
    font-size: 44px;
  }
}
.main_content_1 .title_1 .title_text_1 .h2_text {
  margin-bottom: 5px;
  display: flex;
  font-family: "Lato Light";
  font-weight: 700;
  font-size: 27px;
  gap: 8px;
}
.main_content_1 .title_1 .title_text_1 .h2_text .h2_2 {
  margin-left: 5px;
  color: #f16d7f;
}
@media screen and (max-width: 1024px) {
  .main_content_1 .title_1 .title_text_1 .h2_text {
    font-size: 24px;
  }
}

.title_main_1 {
  height: 92px;
  width: 12px;
  margin-top: 2px;
}

@media screen and (max-width: 426px) {
  .main_content_1 {
    padding-top: 148px;
    padding-bottom: 149px;
    justify-content: center;
  }
}
.main_content_2 {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 60px;
  padding-bottom: 89px;
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}
.main_content_2 .block_1_main_content_2 {
  display: block;
  position: relative;
  padding-left: calc(50% - 570px);
}
.main_content_2 .block_1_main_content_2:hover .img__bg {
  background: rgba(154, 112, 112, 0.7);
}
.main_content_2 .block_1_main_content_2 .img__bg {
  position: absolute;
  background: rgba(33, 22, 22, 0.7);
  width: 100%;
  height: 100%;
  transition: 0.9s;
}
.main_content_2 .block_4_main_content_2 {
  display: block;
  position: relative;
  padding-left: calc(50% - 570px);
}
.main_content_2 .block_4_main_content_2:hover .img__bg {
  background: rgba(154, 112, 112, 0.7);
}
.main_content_2 .block_4_main_content_2 .img__bg {
  position: absolute;
  background: rgba(33, 22, 22, 0.7);
  width: 100%;
  height: 100%;
  transition: 0.9s;
}
.main_content_2 .block_4_main_content_2 {
  grid-column: 1/-1;
  position: relative;
}
@media screen and (max-width: 426px) {
  .main_content_2 .block_4_main_content_2 {
    min-height: 0;
    height: 111px;
    width: 343px;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
}
.main_content_2 .block_1_image_1 {
  max-width: 100%;
}
.main_content_2 .block_1_image_4 {
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  .main_content_2 .block_1_image_4 {
    max-width: none;
  }
}
@media screen and (max-width: 426px) {
  .main_content_2 .block_1_image_4 {
    max-width: 200%;
  }
}
.main_content_2 .block_1_text_11 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1px;
  margin-top: -2px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  flex-direction: column;
}
.main_content_2 .block_1_text_111 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1px;
  margin-top: -2px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  flex-direction: column;
}
.main_content_2 .block_1_text_1 {
  font-family: "Lato Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}
.main_content_2 .block_1_text_12 {
  margin-bottom: 1px;
  font-family: "Lato Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}
.main_content_2 .block_1_text_2 {
  font-family: "Lato Regular";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #f16d7f;
}
.main_content_2 .block_1_text_22 {
  margin-bottom: 6px;
  font-family: "Lato Regular";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #f16d7f;
}

@media screen and (max-width: 426px) {
  .main_content_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.main_content_3 {
  padding-bottom: 0px;
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}
.main_content_3 .title_2 {
  font-family: "Lato Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #222222;
}
.main_content_3 .title_2_main_3 {
  font-family: "Lato Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-top: 6px;
  color: #9f9f9f;
}
.main_content_3 .main_content_3_items {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  justify-content: center;
  gap: 30px;
}
.main_content_3 .main_content_3_items .item_1 {
  position: relative;
}
.main_content_3 .main_content_3_items .main_content_3__cart_link {
  padding-top: 188px;
  padding-left: 111px;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: visibility ease 0s, opacity ease 1s;
}
.main_content_3 .main_content_3_items .main_content_3__browse {
  width: 139px;
  height: 44px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(255, 255, 255);
}
.main_content_3 .main_content_3_items .main_content_3__svg3 {
  padding-right: 23px;
}
.main_content_3 .main_content_3_items .main_content_3__browse_text {
  font-family: "Lato Regular";
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main_content_3 .main_content_3_items .item_1:hover .img__bg {
  background: rgba(58, 56, 56, 0.86);
}
.main_content_3 .main_content_3_items .item_1:hover .main_content_3__cart_link {
  visibility: visible;
  opacity: 1;
}
.main_content_3 .main_content_3_items .item_1 .img__bg {
  position: absolute;
  background: rgba(255, 255, 255, 0.0705882353);
  width: 100%;
  height: 65%;
  transition: 0.9s;
}
.main_content_3 .main_content_3_items .item_1_picture {
  max-width: 100%;
}
.main_content_3 .main_content_3_items .item_1_content {
  background: #f8f8f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 24px 16px;
  gap: 10px;
}
.main_content_3 .main_content_3_items .title_1_item_1 {
  margin-top: -4px;
  font-family: "Lato Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}
.main_content_3 .main_content_3_items .title_2_item_1 {
  font-family: "Lato Light";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
  display: block;
}
.main_content_3 .main_content_3_items .title_3_item_1 {
  margin-top: 9px;
  font-family: "Lato Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
  display: block;
}

.product_browse {
  width: 212px;
  height: 48px;
  margin: auto;
  margin-top: 43px;
  margin-bottom: 96px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(242, 99, 118);
}
.product_browse__text {
  font-family: "Lato Regular";
  font-weight: 400;
  font-size: 16px;
  color: #f26376;
}

.product_browse_link:hover .product_browse {
  background-color: #ef5b70;
  transition: 0.9s;
}

.product_browse_link:hover .product_browse__text {
  color: #ffffff;
  transition: 0.9s;
}

.footer_items {
  background-color: #222222;
  padding-top: 104px;
  padding-bottom: 104px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}
.footer_items .footer_content_1 {
  width: 360px;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 24px;
}
.footer_items .footer_img_1:hover svg path {
  fill: #e8e8e8;
  transition: 0.3s;
}
.footer_items .footer_title_1_content_1 {
  margin-left: -5px;
  margin-top: -4px;
  color: #ffffff;
  font-family: "Lato Regular";
  font-size: 19.96px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
.footer_items .footer_title_2_content_1 {
  margin-top: -8px;
  color: #fbfbfb;
  font-family: "Lato Light";
  font-size: 13.97px;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .footer_items {
    flex-direction: column;
    align-items: center;
  }
}
.footer_feedback {
  position: relative;
  width: 100%;
  background-image: url(./img/footer_bg.jpeg);
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 148px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 196px;
}

.footer_feedback .img__bg_feedback {
  position: absolute;
  background: rgba(244, 244, 244, 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.9s;
}

@media screen and (max-width: 768px) {
  .footer_feedback {
    flex-direction: column;
    gap: 48px;
    padding-top: 64px;
    padding-bottom: 140px;
  }
}
@media screen and (max-width: 1024px) {
  .footer_feedback {
    gap: 127px;
  }
}
.footer_photo {
  margin-left: 247px;
  margin-right: 124px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}

.footer_subscribe {
  margin-right: 252px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}

@media screen and (max-width: 1024px) {
  .footer_subscribe {
    margin-right: -4px;
  }
  .footer_photo {
    margin-right: 60px;
  }
}
.footer_sub1,
.footer_sub2 {
  font-family: "Lato Regular";
  font-weight: 700;
  font-size: 24px;
  line-height: 167%;
  text-align: center;
  color: #222222;
}

.footer_sub2 {
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 32px;
}

.footer_photo img {
  margin-bottom: 10px;
}

.footer_photo_text {
  font-family: "Lato Regular";
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #222222;
  font-style: normal;
}

.footer_down {
  background-color: #222222;
  padding-top: 24px;
  padding-bottom: 23px;
  display: flex;
  flex-direction: row;
  gap: 824px;
  justify-content: center;
}
.footer_down .footer_down_text {
  padding-top: 6px;
  font-family: "Lato Regular";
  font-weight: 400;
  font-size: 16px;
  color: #fbfbfb;
}

@media screen and (max-width: 1024px) {
  .footer_down {
    gap: 582px;
  }
}
@media screen and (max-width: 768px) {
  .footer_down {
    gap: 382px;
  }
}
@media screen and (max-width: 426px) {
  .footer_down {
    gap: 40px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 43px;
    padding-bottom: 9px;
  }
}
.top-head {
  background-color: #f8f3f4;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  gap: 737px;
}

@media screen and (max-width: 1024px) {
  .top-head {
    justify-content: center;
    gap: 537px;
  }
}
@media screen and (max-width: 768px) {
  .top-head {
    justify-content: center;
    gap: 360px;
    display: flex;
    padding-top: 24px;
    padding-bottom: 46px;
  }
}
@media screen and (max-width: 426px) {
  .top-head {
    justify-content: center;
    gap: 32px;
    flex-direction: column;
  }
}
.top-head__heading {
  font-family: "Lato Regular";
  font-weight: 400;
  font-size: 24px;
  color: #f16d7f;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
}

.breadcrumbs__link {
  font-family: "Lato Regular";
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  color: #636363;
}

.breadcrumbs__link_site {
  font-family: "Lato Regular";
  font-weight: 700;
  color: #f16d7f;
}

.product-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.product {
  width: 360px;
  display: flex;
  flex-direction: column;
}
.product__img {
  width: 100%;
}
.product__content {
  background-color: #f8f8f8;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.product__name {
  color: #222222;
  font-family: "Lato Regular";
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
}
.product__price {
  font-family: "Lato Regular";
  font-weight: 400;
  font-size: 16px;
  color: #f16d7f;
}
.product__text {
  font-family: "Lato Regular";
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
}

.swiper_litle {
  padding-top: 48px;
  padding-bottom: 96px;
  position: relative;
  display: flex;
  justify-content: center;
}
.swiper_litle__content {
  width: 284px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(235, 235, 235);
  border-radius: 10px;
  gap: 18px;
}
.swiper_litle__numbers {
  font-family: "Lato Regular";
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  color: #c4c4c4;
}

.information {
  background-color: #fff;
  position: relative;
  margin-top: 704px;
  z-index: 20;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 1141px;
  height: 601px;
  flex-direction: column;
  align-items: center;
  border: 1px solid #eaeaea;
}
.information__1 {
  padding-top: 71px;
  color: #f16d7f;
  font-family: "Lato Light";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.information__svg1 {
  margin-top: 12px;
  width: 63px;
  height: 3.025px;
  flex-shrink: 0;
}
.information__2 {
  color: #4d4d4d;
  font-family: "Lato Light";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-top: 14px;
  padding-right: 3px;
}
.information__345 {
  padding-right: 5px;
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #5e5e5e;
  text-align: center;
  font-family: "Lato Light";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.information__6 {
  padding-top: 32px;
  padding-right: 22px;
  color: #ef5b70;
  font-family: "Lato Light";
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.information__svg2 {
  padding-top: 65px;
  width: 641px;
  height: 1px;
  flex-shrink: 0;
  stroke-width: 1px;
  stroke: #eaeaea;
}
.information__filter-sort {
  height: 132px;
  position: relative;
  display: flex;
  gap: 30px;
  padding-top: 54px;
  padding-right: 22px;
  box-sizing: border-box;
}
.information__cart_link {
  padding-top: 48px;
  padding-bottom: 56px;
}
.information__cart_link:hover .information__browse {
  background-color: #ef5b70;
  transition: 0.9s;
}
.information__cart_link:hover .information__browse_text {
  color: #ffffff;
  transition: 0.9s;
}
.information__cart_link:hover .information__browse svg path {
  fill: #ffffff;
  transition: 0.9s;
}
.information__browse {
  width: 212px;
  height: 48px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(242, 99, 118);
}
.information__svg3 {
  padding-right: 23px;
}
.information__browse_text {
  font-family: "Lato Regular";
  font-weight: 400;
  font-size: 16px;
  color: #f26376;
}

@media screen and (max-width: 1024px) {
  .information {
    width: 1024px;
  }
}
@media screen and (max-width: 768px) {
  .information {
    width: 768px;
  }
}
@media screen and (max-width: 426px) {
  .information {
    width: 425px;
  }
}
@media screen and (max-width: 376px) {
  .information {
    width: 375px;
  }
}
.cart_main_content_3 {
  padding-top: 85px;
  padding-bottom: 96px;
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}
.cart_main_content_3__items {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  justify-content: center;
  gap: 30px;
}
.cart_main_content_3__item_1 {
  position: relative;
}
.cart_main_content_3__picture {
  max-width: 100%;
}
.cart_main_content_3__content {
  background: #f8f8f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 21px 18px;
  gap: 16px;
}
.cart_main_content_3__title_1_item_1 {
  color: #000;
  font-family: "Lato Light";
  font-size: 13px;
  font-style: normal;
  line-height: normal;
}
.cart_main_content_3__title_2_item_1 {
  color: #5d5d5d;
  font-family: "Lato Light";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.cart_main_content_3__title_3_item_1 {
  color: #f16d7f;
  font-family: "Lato Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.product-box-cart-all {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .product-box-cart-all {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 426px) {
  .product-box-cart-all {
    align-items: normal;
  }
}
.product-box-cart {
  margin-top: 96px;
  margin-left: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 40px;
}
.product-box-cart__img {
  height: 306px;
  width: 262px;
}
@media screen and (max-width: 426px) {
  .product-box-cart .product-box-cart__img {
    height: 188px;
    width: 144px;
  }
}
.product-box-cart__content {
  background-color: #fff;
  padding: 22px 31px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.product-box-cart__svg {
  position: absolute;
  padding-left: 320px;
}
@media screen and (max-width: 1024px) {
  .product-box-cart .product-box-cart__svg {
    padding-left: 395px;
  }
}
@media screen and (max-width: 426px) {
  .product-box-cart .product-box-cart__svg {
    padding-left: 154px;
  }
}
.product-box-cart__product {
  height: 306px;
  width: 652px;
  display: flex;
  filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
}
@media screen and (max-width: 1024px) {
  .product-box-cart .product-box-cart__product {
    width: 734px;
  }
}
@media screen and (max-width: 426px) {
  .product-box-cart .product-box-cart__product {
    width: 358px;
    height: 188px;
  }
}
.product-box-cart__title {
  color: #222;
  font-family: "Lato Regular";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 426px) {
  .product-box-cart .product-box-cart__title {
    font-size: 16px;
  }
}
.product-box-cart__text-position {
  padding-top: 42px;
  display: flex;
}
@media screen and (max-width: 426px) {
  .product-box-cart .product-box-cart__text-position {
    padding-top: 26px;
  }
}
.product-box-cart__text-position__2 {
  padding-top: 6px;
  display: flex;
}
@media screen and (max-width: 426px) {
  .product-box-cart .product-box-cart__text-position__2 {
    padding-top: 4px;
  }
}
.product-box-cart__price {
  padding-top: 6px;
  font-family: "Lato Regular";
  font-weight: 400;
  font-size: 16px;
  color: #f16d7f;
}
@media screen and (max-width: 426px) {
  .product-box-cart .product-box-cart__price {
    padding-top: 4px;
  }
}
.product-box-cart__text {
  font-family: "Lato Regular";
  font-weight: 300;
  font-size: 22px;
  line-height: 17px;
  color: #5d5d5d;
}
@media screen and (max-width: 426px) {
  .product-box-cart .product-box-cart__text {
    font-size: 14px;
  }
}

@media screen and (max-width: 1024px) {
  .product-box-cart {
    margin-left: 145px;
    order: -2;
  }
}
@media screen and (max-width: 768px) {
  .product-box-cart {
    margin-left: 0px;
    margin-top: 59px;
  }
}
@media screen and (max-width: 426px) {
  .product-box-cart {
    order: -2;
    margin-left: 30px;
  }
}
@media screen and (max-width: 376px) {
  .product-box-cart {
    margin-left: 10px;
  }
}
.shipandcard-box-cart {
  margin-left: 128px;
}

@media screen and (max-width: 1024px) {
  .shipandcard-box-cart {
    display: flex;
    margin-bottom: 128px;
  }
}
@media screen and (max-width: 768px) {
  .shipandcard-box-cart {
    margin-left: 0;
  }
}
@media screen and (max-width: 426px) {
  .shipandcard-box-cart {
    flex-direction: column;
    margin-left: 33px;
    margin-bottom: 96px;
  }
}
@media screen and (max-width: 376px) {
  .shipandcard-box-cart {
    margin-left: 8px;
  }
}
.ship-box-cart {
  padding-top: 113px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 30px;
}
.ship-box-cart__img {
  height: 306px;
  width: 262px;
}
.ship-box-cart__content {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.ship-box-cart__product {
  height: 272px;
  width: 360px;
  display: flex;
}
.ship-box-cart__name {
  color: #222222;
  font-family: "Lato Regular";
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
}
.ship-box-cart__price {
  font-family: "Lato Regular";
  font-weight: 400;
  font-size: 16px;
  color: #f16d7f;
}
.ship-box-cart__text {
  color: #222;
  font-family: "Lato Light";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.ship-box-cart__inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.ship-box-cart__input-style {
  width: 359px;
  height: 44px;
  border: 1px solid #a4a4a4;
  color: #b1b1b1;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.ship-box-cart__browse {
  width: 101px;
  height: 35px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(164, 164, 164);
}
.ship-box-cart__browse__text {
  color: #4a4a4a;
  font-family: "Lato Regular";
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.ship-box-cart .ship-box-cart__browse:hover {
  background-color: #ef5b70;
  transition: 0.9s;
}
.ship-box-cart .ship-box-cart__browse:hover .ship-box-cart__browse__text {
  color: #ffffff;
  transition: 0.9s;
}

@media screen and (max-width: 1024px) {
  .ship-box-cart {
    padding-left: 14px;
    padding-top: 0px;
  }
}
@media screen and (max-width: 768px) {
  .ship-box-cart {
    padding-left: 0px;
  }
}
.card-box-cart {
  height: 214px;
  width: 360px;
  margin-top: 57px;
  background-color: #f5f3f3;
}
.card-box-cart__text_box {
  display: flex;
}
.card-box-cart__name {
  color: #222222;
  font-family: "Lato Regular";
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
}
.card-box-cart__price {
  font-family: "Lato Regular";
  font-weight: 400;
  font-size: 16px;
  color: #f16d7f;
}
.card-box-cart__text {
  padding-top: 39px;
  padding-left: 218px;
  color: #4a4a4a;
  font-family: "Lato Regular";
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card-box-cart__text_text {
  padding-top: 39px;
  padding-left: 25px;
  color: #4a4a4a;
  font-family: "Lato Regular";
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card-box-cart__text-position__2 {
  display: flex;
}
.card-box-cart__text1 {
  height: 19px;
  width: 120px;
  margin-top: 12px;
  margin-left: 150px;
  color: #222;
  font-family: "Lato Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.card-box-cart__text2 {
  padding-top: 12px;
  padding-left: 15px;
  color: #f16d7f;
  font-family: "Lato Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.card-box-cart__svg {
  margin-left: 42px;
}
.card-box-cart__browse {
  width: 273px;
  height: 50px;
  margin-top: 17px;
  margin-left: 44px;
  background-color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #939393;
}
.card-box-cart__browse__text {
  color: #000;
  font-family: "Lato Light";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.card-box-cart .card-box-cart__browse:hover {
  background-color: #ef5b70;
  transition: 0.9s;
}
.card-box-cart .card-box-cart__browse:hover .card-box-cart__browse__text {
  color: #ffffff;
  transition: 0.9s;
}

@media screen and (max-width: 1024px) {
  .card-box-cart {
    margin-left: 36px;
    margin-top: 35px;
  }
}
@media screen and (max-width: 768px) {
  .card-box-cart {
    margin-left: 15px;
  }
}
@media screen and (max-width: 426px) {
  .card-box-cart {
    margin-left: 0px;
  }
}
.cart_links {
  display: flex;
  justify-content: left;
  margin-left: 230px;
  margin-top: 86px;
  margin-bottom: 96px;
  gap: 310px;
}
.cart_links__browse {
  width: 167px;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(164, 164, 164);
  gap: 20px;
}
.cart_links .cart_links__browse:hover {
  background-color: #ef5b70;
  transition: 0.9s;
}
.cart_links .cart_links__browse:hover .cart_links__text {
  color: #ffffff;
  transition: 0.9s;
}
.cart_links__text {
  color: #000;
  font-family: "Lato Light";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

@media screen and (max-width: 1024px) {
  .cart_links {
    margin-left: 185px;
    order: -1;
    margin-bottom: 64px;
  }
}
@media screen and (max-width: 768px) {
  .cart_links {
    margin-left: 0px;
  }
}
@media screen and (max-width: 426px) {
  .cart_links {
    gap: 75px;
    order: -1;
    margin-left: 7px;
    margin-top: 30px;
    margin-bottom: 64px;
  }
}
@media screen and (max-width: 376px) {
  .cart_links {
    gap: 25px;
  }
}
.reg_links {
  display: flex;
  justify-content: left;
  margin-top: 86px;
  margin-bottom: 96px;
  gap: 192px;
}
.reg_links__browse {
  width: 167px;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(164, 164, 164);
  gap: 20px;
}
.reg_links__text {
  color: #000;
  font-family: "Lato Light";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.reg_links:hover .reg_links__browse {
  background-color: #ef5b70;
  transition: 0.9s;
}

.reg_links:hover .cart_links__text {
  color: #ffffff;
  transition: 0.9s;
}

@media screen and (max-width: 1024px) {
  .reg_links {
    margin-left: 130px;
  }
}
@media screen and (max-width: 768px) {
  .reg_links {
    margin-left: 16px;
  }
}
@media screen and (max-width: 426px) {
  .reg_links {
    margin-left: 8px;
    margin-bottom: 40px;
    order: -1;
  }
}
.registration-box-cart-all {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 426px) {
  .registration-box-cart-all {
    flex-direction: column;
  }
}
.registration-box-cart {
  margin-top: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 30px;
}
.registration-box-cart__img {
  height: 306px;
  width: 262px;
}
.registration-box-cart__content {
  background-color: #f8f8f8;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.registration-box-cart__product {
  height: 149px;
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.registration-box-cart__product__male-female {
  height: 17px;
  width: 132px;
  display: flex;
  gap: 10px;
  margin-left: -225px;
}
.registration-box-cart__name {
  color: #222222;
  font-family: "Lato Regular";
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
}
.registration-box-cart__price {
  font-family: "Lato Regular";
  font-weight: 400;
  font-size: 16px;
  color: #f16d7f;
}
.registration-box-cart__text {
  color: #222;
  font-family: "Lato Light";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.registration-box-cart__text1 {
  color: #b1b1b1;
  font-family: "Lato Light";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.registration-box-cart__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.registration-box-cart__input {
  width: 360px;
  height: 45px;
  color: #b1b1b1;
  font-family: "Lato Light";
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.registration-box-cart__male {
  color: #000;
  font-family: "Lato Light";
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.registration-box-cart__female {
  color: #000;
  font-family: "Lato Light";
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 768px) {
  .registration-box-cart {
    margin-left: 16px;
  }
}
@media screen and (max-width: 426px) {
  .registration-box-cart {
    order: -2;
  }
}
@media screen and (max-width: 376px) {
  .registration-box-cart {
    margin-left: 8px;
  }
}
.registration-description {
  margin-top: 62px;
  margin-left: 128px;
}
.registration-description__price {
  margin-top: 22px;
  color: #000;
  font-family: "Lato Light";
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.registration-description__price__2 {
  margin-top: 0;
  color: #000;
  font-family: "Lato Light";
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
@media screen and (max-width: 768px) {
  .registration-description .registration-description__price {
    font-size: 16px;
  }
}
@media screen and (max-width: 1130px) {
  .registration-description .registration-description__price {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .registration-description .registration-description__price__2 {
    font-size: 16px;
  }
}
@media screen and (max-width: 1130px) {
  .registration-description .registration-description__price__2 {
    font-size: 16px;
  }
}
.registration-description__list-position {
  display: flex;
  margin-top: 21px;
  gap: 23px;
}
.registration-description__list-position1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.registration-description__list-position2 {
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}
@media screen and (max-width: 768px) {
  .registration-description .registration-description__list-position2 {
    gap: 28px;
  }
}
@media screen and (max-width: 1130px) {
  .registration-description .registration-description__list-position2 {
    gap: 24px;
    margin-top: 0;
  }
}
.registration-description__text {
  color: #000;
  font-family: "Lato Light";
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
@media screen and (max-width: 768px) {
  .registration-description .registration-description__text {
    font-size: 16px;
  }
}
@media screen and (max-width: 1024px) {
  .registration-description .registration-description__text {
    font-size: 16px;
  }
}
.registration-description__list {
  color: #000;
  font-family: "Lato Light";
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
@media screen and (max-width: 768px) {
  .registration-description .registration-description__list {
    font-size: 16px;
  }
}
@media screen and (max-width: 1024px) {
  .registration-description .registration-description__list {
    font-size: 16px;
  }
}

@media screen and (max-width: 769px) {
  .registration-description {
    margin-left: 22px;
    max-width: 354px;
  }
}
@media screen and (max-width: 426px) {
  .registration-description {
    margin-top: 40px;
    margin-left: 9px;
    margin-bottom: 96px;
  }
}/*# sourceMappingURL=style.css.map */